.button-container {
  @apply text-xs font-bold flex items-center justify-center;
  img {
    @apply mr-2;
  }
}

.items {
  @apply w-full flex flex-col mt-5 overflow-hidden;
  border-radius: 24px;
  border: 2px solid #EFEAFA;
  @media only screen and (max-width: 1024px) {
    border: unset;
    border-radius: unset;
  }

  .row {
    @apply w-full flex items-center justify-between flex-wrap py-2 px-5 sm:p-5 relative;
    border-bottom: 2px solid #EFEAFA;
    @media only screen and (max-width: 1024px) {
      border: 2px solid #EFEAFA;
      border-radius: 12px;
      @apply mb-2
    }

    &:after {
      content: '';
      width: 6px;
      height: 60%;
      @apply absolute right-0 top-1/2 rounded-l-2xl;
      transform: translate(0, -50%);
      background-color: #916699;
    }

    &:last-child {
      border: unset;
      @media only screen and (max-width: 1024px) {
        border: 2px solid #EFEAFA;
      }
    }

    .section {
      @apply w-1/2 flex items-center flex-wrap;
      &:first-child {
        .column {
          @apply justify-start sm:justify-evenly
        }
      }

      &:last-child {
        .column {
          @apply justify-end sm:justify-evenly
        }
      }

      .column {
        @apply w-full sm:w-1/2 text-xs sm:text-sm mb-2 sm:mb-0 flex items-center justify-evenly;
        div {
          &:first-child {
            @apply ml-2;
          }
        }

        .action {
          @apply py-2 px-5 bg-white;
          border-radius: 8px;
        }

        .mobile {
          @apply px-5 py-1 bg-white flex items-center justify-center;
          border: 2px solid #F2F2F2;
          border-radius: 8px;
        }
      }

      #price {
        @apply justify-center;
        .amount {
          @apply font-bold;
        }
      }

      .requests {
        @apply w-full sm:w-1/2 pr-2 flex items-center justify-evenly;
      }
    }

  }

  .backGroundColored {
    background-color: #F5F3FC;
  }
}

.wrapper-container {
  @apply fixed w-full h-2/3 bottom-0 left-0 bg-white;
  &:after {
    content: '';
    @apply fixed h-full w-full top-0 left-0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
  }

  .wrapper {
    z-index: 99;
    @apply w-full w-full bg-white;
  }
}

.box-element {
  border: 2px solid #CCCCCC;
  background-color: #EDF7F7;

  width: 232px;
  height: 100px;
  @apply flex items-center justify-around rounded-3xl mx-1 mb-5 p-2;
  &:first-child {
    @apply mr-0
  }

  &:last-child {
    @apply ml-0
  }

  .text {
    div {
      &:first-child {
        @apply font-bold;
      }

      &:nth-child(2) {
        @apply text-xs;
      }
    }
  }
}

.show {
  @apply flex sm:hidden;
}

.hide {
  @apply hidden;
}

.drop-down {
  height: 48px;
  @apply w-full cursor-pointer flex items-center justify-between text-xs border py-1 px-3 relative rounded-xl;
  .text {
    @apply whitespace-nowrap;
  }

  img {
    @apply mr-2;
  }


  ul {
    z-index: 9;
    @apply w-full absolute top-full right-0 bg-white outline outline-Purple-05 outline-1 p-3 rounded-b-xl;
    li {
      @apply w-full py-2;
    }
  }

  .show {
    @apply block;
  }

  .hide {
    @apply hidden;
  }
}

.drop-down-open {
  @apply bg-white rounded-b-none border-b-0 border-Purple-05;
}

.drop-down-close {

}