.content-container {
  background-color: #FCFBFE;
  @apply flex flex-col items-center justify-center w-full p-2 lg:p-10;
  .banner-container {
    max-width: 1040px;
    @apply flex items-center justify-center mt-5;
    img {
      @apply w-full;
    }
  }

  .text-container {
    @apply lg:w-1/3 flex flex-col items-center justify-center py-10 px-5;
    .title {
      @apply text-center text-2xl lg:text-3xl font-bold mb-5;
      .purple {
        @apply text-Purple-05;
      }
    }

    .text {
      @apply text-center;
    }
  }

  .items-container {
    max-width: 1040px;
    padding: 32px;
    @media only screen and (max-width: 1024px) {
      padding: 12px;
    }
    @apply w-full border rounded-2xl flex items-center justify-center flex-wrap;

    .box-content {
      @apply w-full flex items-center justify-center flex-nowrap sm:flex-wrap;
      .box-container {
        @apply w-full items-center justify-between flex-wrap hidden sm:flex;
      }

      .mobile-drop-down, .mobile-box {
        height: 40px;
        @apply items-center justify-between text-xs border py-1 px-3 rounded-lg flex sm:hidden;
        .text {
          div {
            &:first-child {
              @apply font-bold;
            }
          }
        }
      }

      .mobile-drop-down {
        @apply w-2/3;
        border: 1px solid #FBA904;
        background-color: #FFF6E6;
      }

      .mobile-box {
        @apply w-1/3 border-Purple-05 mr-2;
        background-color: #F5F3FC;
      }
    }

    .filter-container {
      @apply w-full hidden sm:flex;
      .box {
        height: 48px;
        border-radius: 12px;
        @apply w-1/5 mr-2 flex items-center justify-between text-xs border py-1 px-3 ;
        &:first-child {
          @apply w-2/5 mr-0;
        }

        .text {
          @apply whitespace-nowrap;
        }

        .input {
          @apply w-full mr-2 flex items-center justify-between flex-wrap;
          input {
            @apply w-full ;
          }

          div {
            @apply text-Purple-05;
          }
        }

        img {
          @apply mr-2;
        }
      }

      .filter {
        @apply w-1/5 mr-2;
      }
    }

    .listItems {
      @apply w-full;
    }
  }

  .show-more {
    @apply mt-5;
    .show-more-button {
      @apply py-2 px-5 ;
      border-radius: 8px;
    }
  }

}